.multiplier {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--size-4);
  width: 100%;
  height: var(--size-48);
  min-height: var(--size-48);
  padding: var(--size-8);
  border-radius: var(--radius-12);
  background-color: var(--color-dark2-primary);
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.multiplier::-webkit-scrollbar {
  display: none;
}

.multiplier > * {
  flex: 0 0 auto;
}
